.about_us {
  p {
    margin: 0;
  }
  .cards_wrapper {
    // height: 50px;
    background-color: $color_mid_grey;
    padding: 30px 0;
    // padding: 10px 0;

    .card {
      width: 100%;
      background-color: white;
      display: flex;
      margin: 10px 0;
      padding: 0px 20px;
      gap: 20px;
      align-items: center;
      box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px,
        rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
      cursor: pointer;

      .left {
        font-size: 70px;
        color: $color_primary;
      }

      .head {
        color: #bbbbbb;
      }

      .details {
        font-size: 14px;
        color: black;
        margin-bottom: 10px;
      }

      &:hover {
        box-shadow: rgba(136, 165, 191, 0.48) 8px 3px 20px 0px,
          rgba(255, 255, 255, 0.8) -10px -4px 30px 0px;

        .left {
          color: black;
        }
      }
    }
  }

  .about {
    * {
      color: black;
    }

    padding: 30px 0;
    .box {
      // height: 200px;
      // border: 1px solid red;
      display: grid;
      grid-template-columns: 50% 50%;

      .img {
        // height: 200px;
        grid-row: 1/3;
      }

      .right {
        padding-left: 10px;

        p{
            margin-bottom: 10px;
            // color: grey;
        }

        .name{
            color: $color_primary;
            font-size: 20px;
            font-weight: 600;

            @include respond_above(md){
                font-size: 30px;
            }
        }


      }

      .details {
        color: grey;
        margin-top: 16px;
        // grid-column: 1/3;
        // height: 100px;
      }

      > div {
        // border: 1px solid black;
      }

      @include respond_below(md) {
        .img {
          grid-row: initial;
        }

        .details {
          grid-column: 1/3;
        }
      }
    }
  }
}
